:root {
  font-family: 'Fuzzy Bubbles';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-text: #d8d8d8;
  --dark-primary: #3432579f;
  --dark-slider: #474849;

  --light-text: #333333;
  --light-primary: #e4e4e4;
}
body{
  background-color: #051c49;
}
.lightModeText{
  color: var(--light-text) !important;
}
.lightModePrimary{
  background-color: var(--light-primary) !important;
}
.lightModeBorder{
  border: 2px solid black !important;
}
.darkModeText{
  color: var(--dark-text)  !important;
}
.darkModePrimary{
  background-color: var(--dark-primary) !important;
}
.darkModeBorder{
  border: 2px solid var(--dark-text) !important;
}
.h1Header,.h2Header{
  color: var(--dark-text);
  text-align: center;
}
.h1Header{
  font-size: 2.5rem;
  padding: 0;
}
button{
  font-family: 'Fuzzy Bubbles';
  font-size: 1rem;
  color: var(--dark-text);
}
.playlistBtn{
  cursor: pointer;
  border: none;
  border-radius: 7px;
  width: fit-content;
  background-color: var(--dark-primary);
  color: var(--dark-text);
  margin: 2px;
}
.bigContainer {
  display: flex;              
  gap: 20px;                  
  padding: 20px;
}
.initialSongsContainer{
  max-width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;

}.initialSongsContainer:empty {
  display: none;
}
section {
  flex: 1;                   
  box-sizing: border-box;     
}
@media (max-width: 400px) {
    .container {
      flex-direction: column;   /* Stack vertically */
    }
}
.songCard{
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 10px;
  margin: 30px;
  background-color: var(--dark-primary);
}
.playPauseBtn{
  color: var(--dark-text);
  display: block;
  margin: auto 0;
  pointer-events: none;
}
.songTexts{
  color: var(--dark-text);
}
.songImage{
  object-fit: fill;  
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.songImgDiv{
  margin: auto 0;
  width: 225px;
  height: 225px;
}
.addPlaylistForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;      
  width: 300px;  
}
.formHeader {
  text-align: center;
  color: var(--dark-text);
  margin-bottom: 10px;
}
.inputBox {
  border: 2px solid rgb(255,255,255);
  border-radius: 7px;
  padding: 5px;
}
.submitFormBtn {
  margin-top: 10px;
  width: 120px;
  align-self: center;
}
.addPlaylistForm label{
  margin-top: 10px;
}
.addPlaylistForm .inputBox, 
.addPlaylistForm select{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.form{
  color: var(--dark-text);
}
.addSongsForm {
  display: flex;
  flex-direction: column;
  gap: 10px;      
  width: 300px;    
}
.addSongsForm label {
  margin-top: 10px;
}
.addSongsForm .inputBox,
.addSongsForm select {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.playlistHeader{
  color: var(--dark-text);
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
}
.h4Header{
  color: var(--dark-text);
  font-size: 2rem;
  border-radius: 5px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
.petContainer{
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}
.petImgsDiv{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.petImg{
  width: 167px;
  height: 167px;
  padding: 5px;
  border-radius: 13px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.petImg:hover{
  transform: scale(1.2);
}
.selectedPet{
  pointer-events: none;
  margin: 100px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 13px;
  width: 167px;
  height: 167px;
}
.petDialogue{
  color: var(--dark-text);
  width: auto;
  margin: 0 auto;
  padding: 5px;
}
.petProgressBars{
  border: 2px solid var(--dark-text);
  height: 100px;
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.individualBar{
  height: 100px;
  width: 20%;
  border: 2px solid var(--dark-text);
}
.progressBarLabel{
  color: var(--dark-text);
}
.insideBarDiv{
  width: 0%; 
  height: 25px; 
  background-color: black; 
  text-align: center; 
  color: white; 
  line-height: 30px;
}
.outsideBarDiv{
  width: 100%; 
  background-color: lightgrey; 
  border-radius: 50px; 
  overflow: hidden;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  pointer-events: none;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--dark-slider);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--dark-slider);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}